@font-face {
    src: url("Roboto-Regular.ttf");
}

* {
}

.root {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 12px;
    /*-fx-background-color: darkslategray;*/
    /*-fx-scale-x: 200%;*/
    /*-fx-scale-y: 200%;*/
}

.text {
    /*-fx-stroke: burlywood;*/
}